<h3><i class="fas fa-book-reader"></i> Shikhsha</h3>

<div class="section">
    <p class="lead">
        Your Application to make changes to a student ID
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>